/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "PT Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/
#miningtgt, #miningprg, #mininghis {
  font-family: "PT Sans", 'Droid Sans Mono', monospace ;
  text-align: right;
  font-size : 70%;
}
.ui.header {
  font-family: "PT Sans", 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/
/*rtl:ignore*/
.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

.mobile-only {
  display: none !important;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
 .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  .segment-padding {
    padding-bottom: 2rem !important;
  }

  .big-for-mobile {
    font-size: 2em !important;
  }

  .not-on-mobile {
    display: none !important;
  }

  #footer {
    padding-bottom: 2rem;
  }

  #footer .header {
    font-size: 0.9em;
  }

  #footer a {
    font-size: 0.9em;
  }

  .contact-mobile {
    float: none !important;
    text-align: center !important;
  }

  .mobile-only {
    display: block !important;
  }

  /*rtl:ignore*/
  .menu .right.menu > .item {
    display: none;
  }
  /*rtl:ignore*/
  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 0px;
    text-align: center;
  }

  .masthead.segment .image {
    position: relative;
    bottom: 0px;
    left: 50%;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 28px;
    transform: translateX(-75px);
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }
  /*rtl:ignore*/
  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}
